**/__pycache__
**/.classpath
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml

.venv
.venv-bak
.vscode
.dockerignore
.gitignore
bartleby.service
bitsandbytes-0.42.0.tar.gz
docker_hub_info.md
docker_setup_notes.md
docker_setup.md
bartleby/hf_cache
bartleby/logs
bartleby/credentials
Dockerfile
requirements-bak.txt